/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09 21, 22, 4:12:17 PM
    Author     : WINDOWS 10
    Subscribe our Channel --> https://www.youtube.com/channel/UCPgcmw0LXToDn49akUEJBkQ
 * Thanks for the support guys! <3
*/

.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:.2px .4px .8px .4px;
}

.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#ff3547;
}

.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.minimize:hover{
    -fx-background-color:#ddd;
}

.nav-form{
    -fx-background-color:linear-gradient(to bottom right,  #ffcc33,#ff0000);
}

.nav-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-font-family:"Berlin Sans FB";
    -fx-font-size:14px;
    -fx-text-fill:#fff;
    -fx-alignment:CENTER-LEFT;
}

.logout{
    -fx-background-color:#219a6a;
    -fx-background-radius:10px;
    -fx-cursor:hand;
}
.logout:hover{
    -fx-background-color:#18a383;
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}

.card{
    -fx-background-color:linear-gradient(to right, #2b303c, #525968);
    -fx-background-radius:5px;
}

.table-view{
    -fx-background-color:transparent;
    -fx-border-color:#545352;
    -fx-border-radius:8px;
    -fx-padding:0px;
}
.table-view .table-column{
    -fx-alignment:CENTER;
}
.table-view .column-header-background{
    
    -fx-background-insets: 0 0 0 0;
    -f-background-radius:8px 8px 0px 0px;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size:25px;
    
}
.table-view .column-header .label{
    -fx-text-fill:#545352;
    -fx-font-family:"Berlin Sans FB Demi";
    
}

.textfield{
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-border-color:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-width:.8px;
    -fx-font-family:"Tahoma";
    -fx-border-radius:4px;
}
.textfield:focused{
    -fx-border-width:1.8px;
    -fx-background-color:#fff;
}

.search{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius:5px;
    -fx-font-size:13px;
    -fx-font-family:"Arial";
    -fx-border-width:1px;
    -fx-padding:0px 0px 0px 28px;
}
.search:focused{
    -fx-border-width:2px;
}

.import-btn{
    -fx-background-color:#ddd;
    -fx-text-fill:red;
    -fx-cursor:hand;
}

.add-btn{
    -fx-background-color:#2262C6;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Berlin Sans FB";
    -fx-cursor:hand;
    -fx-background-radius: 50px;
}
.add-btn:hover{
    -fx-background-color:#3357a4;
}

.update-btn{
    -fx-background-color:#00cc66;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Berlin Sans FB";
    -fx-cursor:hand;
    -fx-background-radius: 50px;
}
.update-btn:hover{
    -fx-background-color:#309a65;
}

.delete-btn{
    -fx-background-color:#ff3333;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Berlin Sans FB";
    -fx-cursor:hand;
    -fx-background-radius: 50px;
}
.delete-btn:hover{
    -fx-background-color:#ae1d46;
}

.clear-btn{
    -fx-background-color:#cc00cc;
    -fx-background-radius:8px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Berlin Sans FB";
    -fx-cursor:hand;
    -fx-background-radius: 50px;
}
.clear-btn:hover{
    -fx-background-color:#9d3485;
}

.label-info{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #272b3f, #256b51);
    -fx-border-radius:4px;
    -fx-padding:0px 0px 0px 8px;
}
.sidebar{
    -fx-background-color: #2262C6;
    -fx-background-radius: 0px 50px 0px 0px;
}
.labbtn{
    -fx-text-fill: #2262C6;
    -fx-background-color: #FEFFFD;
    -fx-background-radius: 50px;
}
.sidebar-btn{
    -fx-background-color: transparent;
}
.sidebar-btn-text{
    -fx-text-fill: #A2BEE8;
}
.sidebar-btn:hover .sidebar-btn-text{
    -fx-text-fill: #7AA2E7;
}